streamlit==1.48.0
pandas==2.3.1
plotly==6.2.0
sqlalchemy==2.0.42
psycopg2-binary==2.9.10
openai==1.99.9
google-cloud-bigquery==3.35.1
python-dotenv==1.1.1
streamlit-authenticator==0.4.2
bcrypt==4.3.0
locust==2.39.1
msal==1.30.0
PyYAML==6.0.2
pytest==8.3.2
pyadomd==0.1.1
requests==2.32.3
google-cloud-bigquery==3.35.1
python-dotenv==1.1.1
